.header {
    /* background-color: blue; */
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    color:black
}



.leftHeader > div {
    display: inline-block;
}

nav {
    padding: 10px;

    @media (min-width: 600px) {
        padding: 20px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
.logoContainer {
    display: grid;
}

.logoContainer img {
    width: 50%;
    height: auto;
}
