.header {
    background-color: blue;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: space-between;
}



/* Left Header */
.leftHeader>div {
    display: inline-block;
}

/* Right Header */
nav {
    padding: 10px;

    @media (min-width: 600px){
        padding: 20px;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
.logoContainer {
    /* width: 250px;
    display: flex; */
    display: grid;

}


.logoContainer img {
    /* width: 150px; 
    height: auto; 
    max-width: 100%; 
    flex-shrink: 1;  */
    width: 100%; /* Start with 100% width */
    height: auto; /* Maintain aspect ratio */
  }

  
  