html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.3fr 1.7fr 1.5fr 0.5fr; 
    min-height: 100vh;
  }